<div class="content">
    <label>{{localize "WorldExplorer.Tools.Opacity.Partial"}}</label>
    <range-picker name="flags.world-explorer.partialOpacityGM" value="{{partialOpacityGM}}" min="0" max="1" step="0.05"></range-picker>
    <label>{{localize "WorldExplorer.Tools.Opacity.Hidden"}}</label>
    <range-picker name="flags.world-explorer.opacityGM" value="{{opacityGM}}" min="0" max="1" step="0.05"></range-picker>
</div>