<div class="form-group">
    <label>{{localize "WorldExplorer.SceneSettings.Enabled"}}</label>
    <input type="checkbox" name="flags.world-explorer.enabled" {{checked enabled}}/>
</div>

<div class="form-group">
    <label>{{localize "WorldExplorer.SceneSettings.Color"}}</label>
    <div class="form-fields">
        <input type="text" name="flags.world-explorer.color" value="{{color}}" placeholder="Default (#000000)" data-dtype="String"/>
    </div>
</div>
<div class="form-group">
    <label>{{localize "WorldExplorer.SceneSettings.Image"}}</label>
    <div class="form-fields">
        <button type="button" class="file-picker" data-type="imagevideo" data-target="flags.world-explorer.image" title="Browse Files" tabindex="-1">
            <i class="fas fa-file-import fa-fw"></i>
        </button>
        <input class="image" type="text" name="flags.world-explorer.image" placeholder="File Path" value="{{image}}">
    </div>
</div>
<div class="form-group">
    <label>{{localize "WorldExplorer.SceneSettings.Persist_Explored_Areas"}}</label>
    <input type="checkbox" name="flags.world-explorer.persistExploredAreas" {{checked persistExploredAreas}}/>
</div>

<hr/>

<div class="form-group">
    <label>{{localize "WorldExplorer.SceneSettings.Position"}}</label>
    <div class="form-fields">
        <select name="flags.world-explorer.position">
            {{selectOptions POSITION_OPTIONS selected=position localize=true}}
        </select>
    </div>
    <p class="notes">{{localize "WorldExplorer.SceneSettings.PositionHint"}}</p>
</div>
<div class="form-group">
    <label>{{localize "WorldExplorer.SceneSettings.Reveal"}}</label>
    <div class="form-fields">
        <input type="text" name="flags.world-explorer.revealRadius" value="{{revealRadius}}">
    </div>
</div>
<div class="form-group">
    <label>{{localize "WorldExplorer.SceneSettings.GridReveal"}}</label>
    <div class="form-fields">
        <input type="text" name="flags.world-explorer.gridRevealRadius" value="{{gridRevealRadius}}">
    </div>
</div>
<div class="form-group">
    <label>{{localize "WorldExplorer.SceneSettings.GM_Opacity"}}</label>
    <div class="form-fields">
        <input type="range" name="flags.world-explorer.opacityGM" value="{{opacityGM}}" min="0" max="1" step="0.05"/>
        <span class="range-value">{{opacityGM}}</span>
    </div>
</div>
<div class="form-group">
    <label>{{localize "WorldExplorer.SceneSettings.Player_Opacity"}}</label>
    <div class="form-fields">
        <input type="range" name="flags.world-explorer.opacityPlayer" value="{{opacityPlayer}}" min="0" max="1" step="0.05"/>
        <span class="range-value">{{opacityPlayer}}</span>
    </div>
</div>