#world-explorer-opacity-adjuster {
    background: none;
    box-shadow: 0 0 10px black;
}

#world-explorer-opacity-adjuster .window-content {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}