#world-explorer-opacity-adjuster {
    background: none;
    box-shadow: 0 0 10px black;
}

#world-explorer-opacity-adjuster .window-content {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    color: var(--color-text-light-heading);
}

#world-explorer-opacity-adjuster input[type="number"] {
    color: var(--color-text-light-heading);
}

fieldset.world-explorer-setting {
    border: 1px solid #999;
    border-radius: 8px;
    margin: 8px 0;
    padding: 0 15px 5px 15px;
}