#world-explorer-opacity-adjuster {
    justify-content: center;
    padding: 6px 12px;
    min-height: 32px;
}
.form-fields.world-explorer-derived {
    flex: 0.6;
}
/* Make identical to a slider number input */
.form-fields.world-explorer-derived input[type=number] {
    flex: 0 0 40px;
    text-align: center;
    padding: 0;
    font-size: 0.8em;
}
/** Avoid the ugliness when the title wraps in the scene config **/
.application.scene-config {
    .sheet-tabs[data-application-part="tabs"] {
        line-height: 1.25;
        padding-top: var(--spacer-8);
        padding-bottom: var(--spacer-8);
    }
}